h2, p {
  text-align: center;
}

.about {
  background-image: url('https://images.pexels.com/photos/316466/pexels-photo-316466.jpeg?w=940&h=650&auto=compress&cs=tinysrgb');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

p {
  margin: 30px;
}
