<h2>meet the members</h2>

<div  id="member-div">
  <div class="row">
    <div class="col-sm-2">
      <p>filter by:</p>
    </div>
    <div class="col-sm-1">
      <select (change)="onChange($event.target.value)">
        <option value="all mediums" selected="selected">all mediums</option>
        <option value="charcoal">charcoal</option>
        <option value="graphite">graphite</option>
        <option value="chalk">chalk</option>
      </select>
    </div>
  </div>
  <div *ngFor="let member of members | async | medium:filterByMedium" class="panel panel-default">

    <div class="panel-body">
      <h2  (click)="goToDetailPage(member)" class="member-name">{{member.name}} <em>{{member.medium}}</em></h2>
    </div>

    <div *ngIf="currentRoute === '/admin'">
      <p id="edit-member-info">{{member.bio}}<br>{{member.email}}</p>
      <hr>
      <app-edit-member [selectedMember]="member"></app-edit-member>
    </div>

  </div>
</div>
