<div id="member-detail-div">
  <h1>{{(memberToDisplay | async)?.name}}</h1>
  <h4><em>{{(memberToDisplay | async)?.bio}}</em></h4>
  <p>preferred medium: {{(memberToDisplay | async)?.medium}}</p>
  <div class="row">
    <div class="col-sm-4">
      <img src="{{(memberToDisplay | async)?.image}}" height="316" width="316"/>
    </div>
    <div class="col-sm-4">
      <img src="{{(memberToDisplay | async)?.image}}" height="316" width="316"/>
    </div>
    <div class="col-sm-4">
      <img src="{{(memberToDisplay | async)?.image}}" height="316" width="316"/>
    </div>
  </div>
  <br><br>
  <p id="contact">contact: {{(memberToDisplay | async)?.email}}</p>
</div>
