<h1>sketch club</h1>
<hr>
<div class="welcome-div">
  <p>
    for sketchy artists who also sketch
  </p>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <div class="well" routerLink="members">
        <h2>MEET</h2>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="well" routerLink="members">
        <h2>THE</h2>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="well" routerLink="members">
        <h2>ARTISTS</h2>
      </div>
    </div>
  </div>
</div>
