<div>
  <label>Edit Member Name:</label>
  <br>
  <input [(ngModel)]="selectedMember.name">
</div>

<div>
  <label>Member Bio:</label>
  <br>
  <input [(ngModel)]="selectedMember.bio">
</div>

<div>
  <label>Member Medium:</label>
  <br>
  <textarea [(ngModel)]="selectedMember.medium"></textarea>
</div>

<div>
  <label>Member Image:</label>
  <br>
  <input [(ngModel)]="selectedMember.image">
</div>

<div>
  <label>Member email:</label>
  <br>
  <textarea [(ngModel)]="selectedMember.email"></textarea>
</div>

<button (click)="beginUpdatingMember(selectedMember)">Update</button>
