<!-- <div>
  <label>select member:</label>
  <br>
  <select *ngFor="let member of members | async">
    <option value="crisis">Crisis</option>
    <option value="selfish">Selfish</option>
    <option value="uncalled-for">Uncalled-for</option>
  </select>
</div>

<div>
  <label>Edit Member Name:</label>
  <br>
  <input [(ngModel)]="selectedMember.name">
</div>

<div>
  <label>Member Bio:</label>
  <br>
  <input [(ngModel)]="selectedMember.bio">
</div>

<div>
  <label>Member Medium:</label>
  <br>
  <textarea [(ngModel)]="selectedMember.medium"></textarea>
</div>

<div>
  <label>Member Image:</label>
  <br>
  <input [(ngModel)]="selectedMember.image">
</div>

<div>
  <label>Member email:</label>
  <br>
  <textarea [(ngModel)]="selectedMember.email"></textarea>
</div>

<button (click)="beginUpdatingMember(selectedMember)">Update</button>
<hr> -->
